<nav class="navbar navbar-expand-lg px-3">


  <div class="ms-auto">
    <button class="btn btn-link p-2">
      <i class="fa-regular fa-bell"></i>
    </button>

    <div class="dropdown d-inline-block">
      <button class="btn btn-link p-2" data-bs-toggle="dropdown">
        <i class="fa-regular fa-user"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
